header {
    text-align: center;
}

body {
    background-image: url(images/wallpp\ csgo.jpg);
    margin: auto;
    font-family: 'Comic Sans MS';
}

section {
    background-color: rgba(146, 146, 146, 0.411);
    margin: auto;
    max-width: 50%;
    max-height: 50%;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

footer {
    background-color: rgba(146, 146, 146, 0.411);
    margin: auto;
    margin-top: 15px;
    max-width: 50%;
    max-height: 50%;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

ul {
    padding-left: 10px;
    margin: 10px;
}

td a {
    color: #310031;
}

hr {
    
    color: crimson;
}

.foto_perfil {
    border-radius: 50%;
    border-style: groove;
    border-color: crimson;
    margin: 10px;
}

.titulo {
    font-weight: bold;
    color: crimson;
    margin: 5px;
}

.subtitulo {
    color: #310031;
    margin: 0;
}

.mapa {
    width: 200px;
    height: 150px;
    border: 2px;
    border-style: dotted;
    border-color: crimson;
}
